
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Licht thema (standaard) */
body {
  background: goldenrod;
  color: #fff;
  padding: 20px;
}

.main {
  background-color: #8088a3;
  width: 700px;
  padding: 20px;
  border-radius: 10px;
}

.article {
  background-color: #8088a3;
  border: 4px inset rgba(92, 91, 122, 0.1);
  border-radius: 20px;
  padding: 20px;
}

ul {
  padding: 10px;
  list-style-type: disc;
}

.articleImg {
  padding: 10px;
  width: 95%;
}

/* Dark mode (na 19:00) */
.dark {
  background-color: #6a5e5e;
  color: #534848;             
}

.dark .main,
.dark .article {
  background-color: #6a5e5e;
  border-color: #533d3d;
  color: #fff;
}
.dark ul {
  color: #fff;
}
.dark .articleImg {
  filter: brightness(0.8);